/* aire occupée par les éléments d'interface */
.header {
    grid-area: header;
}
.content {
    grid-area: content;
}
.sidebar {
    grid-area: sidebar;
}
.sidebar2 {
    grid-area: sidebar2;
}
.footer {
    grid-area: footer;
}
/* régles générales */
body {
    margin: 40px;
}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}
.header,
.footer {
    background-color: #999;
}
.sidebar2 {
    background-color: #ccc;
    color: #444;
}